.section {
  margin-top:  8.5vh;
}
.products-header {
  width: auto;
  height: auto;
  max-height: 90px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  justify-items: center;
}

.product-card {
  width: 250px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-image {
  max-width: 240px;
  height: 230px;
  transition: transform 0.2s;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.product-image:hover {
  transform: scale(1.1);
}

.product-description {
  max-width: 230px;
  height: 20px;
  overflow: hidden;
}

.no-items-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
.no-items-wrapper h1 {
  color: red;
  text-align: center;
}

.addpro {
  display: flex;
  justify-content: space-between;
}

.x {
  background: lightgreen;
  align-items: center;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .products-header {
    max-height: 65px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .products-header {
    width: auto;
    margin-top: 150px;
    max-height: 60px;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    max-width: 200px;
  }
  .product-image {
    width: 180px;
  }
}
@media screen and (max-width: 850px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-header {
    width: auto;
    margin-top: 60px;
    max-height: 50px;
  }
  .product-card {
    max-width: 280px;
  }
  .product-image {
    width: 260px;
  }
  .section {
  margin-top:  27vh;
}
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-card {
    max-width: 280px;
  }
  .product-image {
    width: 260px;
  }
  .section {
  margin-top:  27vh;
}
}
