.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
}
.aboutUs-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.aboutUs img {
  width: 50%;
  height: 100%;
  object-fit: cover;

}

@media (max-width: 768px) {
  .aboutUs {
    flex-direction: column;
    height: auto;
  }

  .aboutUs img {
    order: 0;
    width: 100%;
    height: 300px;
  }

  .aboutUs-text {
    order: 1;
    width: 100%;
    height: auto;
  }
  
}
