.nav {
  background: var(--bg);
  color: var(--text);
}

.navbar-wrapper {
  flex-grow: 1;
}

.navbar-appbar {
  background-color: var(--bg) !important;
  color: var(--text) !important;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}

.navbar-logo-NavLink {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text) !important;
}

.navbar-logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-logo-text {
  font-size: 20px;
  font-weight: bold;
}

.navbar-logo-highlight {
  color: #ff3c5f;
}

.navbar-nav-search {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
  justify-content: center;
}

.navbar-nav-button {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text) !important;
  transition: ease ease-out 0.2s;
}
.navbar-nav-button:hover,
.navbar-nav-button.active {
  transform: scale(1.1);
  color: cyan !important;
  box-shadow: 0 0 5px cyan;
}

.navbar-search-box {
  min-width: 220px;
}

.navbar-right-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text);
}

.navbar-right-icons h3 {
  padding: 5px 10px;
  text-transform: capitalize;
}

.navbar-mobile-search {
  padding: 0 16px 8px;
}
